.owner-not-verified {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.room-step {
  width: 100%;
  display: flex;
  gap: 5rem;
}

.rooms-list {
  width: 1000px;
  height: 350px;
  overflow-y: scroll;
}

.room-list-item {
  height: 2.5rem;
}

.hotel-owner-table {
  width: 80%;
  height: 28rem;
  margin: 5rem auto;
}

@media screen and (max-width: 550px) {
  .room-step {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
