@media screen and (max-width: 650px) {
  .hotel-card__container {
    padding: 0;
    margin: 0;
  }
  .hotel-card__root {
    height: auto !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hotel-card__icon-grid {
    margin: 0 !important;
    padding: 0 !important;
  }
  .hotel-icon {
    width: 3em !important;
    height: 3em !important;
  }
  .hotel-card__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .hotel-card__header {
    text-align: center;
    font-size: 20px !important;
  }
}
