#TopSection {
  background-color: #31a3be;
  height: 15vh;
}

.loginHeader {
  font-size: 32px;
  font-weight: bold;
  color: #fafafa;
}

.loginHeaderSpan {
  color: #ebb15f;
}

.loginForgotPassword {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
